.vscode/
*.swp
*.pyc
*.DS_STORE
node_modules
*/javascripts/vendor/*
**/**/**/**/javascripts/vendor/*
**/**/**/javascripts/vendor/*
**/**/javascripts/vendor/*
**/javascripts/vendor/*
TODO.md

/.jshintrc

/.idea/
/test_downloads/
/test_target_map/
package-lock.json
